<div class="container">
  <div *ngFor="let tuit of tuition" class="col-md-6" id="tuition-box">
    <div class="card">
      <h5 class="card-header">{{tuit.session}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{tuit.year}}</h5>
        <p class="card-text">{{tuit.line1}}</p>
        <p class="card-text">{{tuit.line2}}</p>
        <p class="card-text">{{tuit.line3}}</p>
        <p class="card-text">{{tuit.line4}}</p>
        <p class="card-text">{{tuit.line5}}</p>
        <p class="card-text">{{tuit.line6}}</p>
        <p class="card-text">{{tuit.line7}}</p>
        <p class="card-text">{{tuit.line8}}</p>
        <p class="card-text">{{tuit.line9}}</p>
        <p class="card-text">{{tuit.line10}}</p>
        <p class="card-text">{{tuit.line11}}</p>
        <p class="card-text">{{tuit.line12}}</p>
        <p class="card-text">{{tuit.line13}}</p>
        <p class="card-text">{{tuit.line14}}</p>
        <p class="card-text">{{tuit.line15}}</p>
        <p class="card-text">{{tuit.line16}}</p>
        <p class="card-text">{{tuit.line17}}</p>
        <p class="card-text">{{tuit.line18}}</p>
        <p class="card-text">{{tuit.line19}}</p>
        <p class="card-text">{{tuit.line20}}</p>
        <p class="card-text">{{tuit.line21}}</p>
        <p class="card-text">{{tuit.line22}}</p>
        <p class="card-text">{{tuit.line23}}</p>
        <p class="card-text">{{tuit.line24}}</p>
        <p class="card-text">{{tuit.line25}}</p>
        <p class="card-text">{{tuit.line26}}</p>
        <p class="card-text">{{tuit.line27}}</p>
        <p class="card-text">{{tuit.line28}}</p>
        <p class="card-text">{{tuit.line29}}</p>
        <p class="card-text">{{tuit.line30}}</p>
      </div>
    </div>
  </div>

  <div class="card text-white bg-info rounded-0">
    <div class="card-header">
      Policies
    </div>
    <div class="card-body">
      <h6 *ngFor="let policy of allPolicy">{{policy.line1}}</h6>
    </div>
  </div>
</div>