<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
      <div *ngFor="let tuit of tuition" class="col-md-6" id="tuition-box">
        <div class="card">
          <h5 class="card-header">{{tuit.session}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{tuit.year}}</h5>
            <p class="card-text">{{tuit.line1}}</p>
            <p class="card-text">{{tuit.line2}}</p>
            <p class="card-text">{{tuit.line3}}</p>
            <p class="card-text">{{tuit.line4}}</p>
            <p class="card-text">{{tuit.line5}}</p>
            <p class="card-text">{{tuit.line6}}</p>
            <p class="card-text">{{tuit.line7}}</p>
            <p class="card-text">{{tuit.line8}}</p>
            <p class="card-text">{{tuit.line9}}</p>
            <p class="card-text">{{tuit.line10}}</p>
            <p class="card-text">{{tuit.line11}}</p>
            <p class="card-text">{{tuit.line12}}</p>
            <p class="card-text">{{tuit.line13}}</p>
            <p class="card-text">{{tuit.line14}}</p>
            <p class="card-text">{{tuit.line15}}</p>
            <p class="card-text">{{tuit.line16}}</p>
            <p class="card-text">{{tuit.line17}}</p>
            <p class="card-text">{{tuit.line18}}</p>
            <p class="card-text">{{tuit.line19}}</p>
            <p class="card-text">{{tuit.line20}}</p>
            <p class="card-text">{{tuit.line21}}</p>
            <p class="card-text">{{tuit.line22}}</p>
            <p class="card-text">{{tuit.line23}}</p>
            <p class="card-text">{{tuit.line24}}</p>
            <p class="card-text">{{tuit.line25}}</p>
            <p class="card-text">{{tuit.line26}}</p>
            <p class="card-text">{{tuit.line27}}</p>
            <p class="card-text">{{tuit.line28}}</p>
            <p class="card-text">{{tuit.line29}}</p>
            <p class="card-text">{{tuit.line30}}</p>
          </div>
        </div>
      </div>

      <div class="card text-white bg-info rounded-0">
        <div class="card-header">
          Policies
        </div>
        <div class="card-body">
          <h6>Tuition is due within 10 days after invoice is sent. A $25 late fee will be charged after the 10th day. $50 charge for returned checks</h6>
          <h6>Missed days are nonrefundable. Tuition can be prorated with 2 week prior notification for weeks that a student will not be able to attend class</h6>
          <h6>4 week notification of withdrawal is required or $100 will be charged</h6>
          <h6>Learning Edge reserves the right to charge $1 per minute after 7:00PM Mon-Thur and 6:30PM on Fridays. If Learning Edge is unable to reach a parent or guardian before 8:00PM, the police department will be contacted.</h6>
        </div>
      </div>
    </div>
</body>
</html>