<body>
    <div class="container">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/students']">Student List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/pictures']">Upload Picture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/tuition']">Tuition</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin/policy']">Policy</a>
            </li>
          </ul>
        </div>
      </div>
        <form (submit)="onSubmit()">
          <div class="row">
            <div class='col'>
              <div class="form-group">
                <label for="class.title">Class Title</label>
                <input [(ngModel)]="class.title" name="class.title" type="text" class="form-control" id="class.title" aria-describedby="class.title" placeholder="Class Title">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="class.grade">Grade</label>
                <select [(ngModel)]="class.grade" name="class.grade" class="form-control" id="class.grade">
                  <option value="1st">1st</option>
                  <option value="2nd">2nd</option>
                  <option value="3rd">3rd</option>
                  <option value="4th">4th</option>
                  <option value="5th">5th</option>
                  <option value="6th">6th</option>
                  <option value="7th">7th</option>
                  <option value="8th">8th</option>
                  <option value="9th">9th</option>
                  <option value="10th">10th</option>
                  <option value="11th">11th</option>
                  <option value="12th">12th</option>              
                </select>
              </div>
            </div>
            <div class='col'>
              <div class="form-group">
                <label for="student.l_name">Capacity</label>
                <input [(ngModel)]="class.capacity" name="class.capacity" type="number" class="form-control" id="class.capacity" aria-describedby="class.capacity">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="class.description">Class Description</label>
              <input [(ngModel)]="class.description" name="class.description" type="text" class="form-control" id="class.description" aria-describedby="class.description" placeholder="Class Description">
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitBtn">Create Class</button>
        </form>
        <div id="class-list">
          <h1>Currently Available Classes</h1>
          <table class="table">
            <thead>
              <th>Class Title</th>
              <th>Grade</th>
              <th>Capacity</th>
            </thead>
            <tbody>
              <tr *ngFor="let class of allClass">
                <td>
                  <a [routerLink]="['/admin/class', class._id]">{{class.title}}</a>
                </td>
                <td>{{class.grade}}</td>
                <td>{{class.capacity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>    
</body>