<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="home.component.css">
  <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="jumbotron p-3" id="topjumbo">
            <h1 class="display-4">Welcome to Learning Edge!</h1>
            <p class="lead">We provide high-tiered secondary education that effectively incorporates proactive teaching to optimize formal education of each student</p>
            <hr class="my-4">
            <h6>See our available classes!</h6>
            <a class="btn btn-primary btn-lg" [routerLink]="['/class']" role="button">Learn more</a>
        </div>
        <div id="readmore">
          <h2>READMORE</h2>
        </div>
        <section class="content-section" id="portfolio">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-lg-4">
                <a class="portfolio-item">
                  <span class="caption">
                    <span class="caption-content">
                      <h2>Elementary</h2>
                    </span>
                  </span>
                  <img class="img-fluid" src="assets/img/elemntary.jpg" alt="" id="project1">
                </a>
              </div>
              <div class="col-lg-4">
                <a class="portfolio-item">
                  <span class="caption">
                    <span class="caption-content">
                      <h2>Middle School</h2>
                    </span>
                  </span>
                  <img class="img-fluid" src="assets/img/middle.jpg" alt="">
                </a>
              </div>
              <hr>
              <div class="col-lg-4">
                <a class="portfolio-item" data-toggle="modal" data-target="#project3">
                  <span class="caption">
                    <span class="caption-content">
                      <h2>High School</h2>
                    </span>
                  </span>
                  <img class="img-fluid" src="assets/img/high_school.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>
    </div>
</body>
</html>