#contact{
    text-emphasis: bold;
    color: white;
    padding-left: 15rem;
}
#navbar{
    background: rgb(73,144,226);
}
#link{
    color: white;
}
#topjumbo{
    background-color: rgb(254,191,88);
    margin-bottom: 0;
}
