#header{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#cardBody{
    background-color: #bbdafc;
    border-radius: 0 !important;
}
#collapseOne{
    border-radius: 0 !important;
}
#collapseTwo{
    border-radius: 0 !important;
}
#collapseThree{
    border-radius: 0 !important;
}