<div class="container">
  <h2>Which student is interested in this class?</h2>
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">{{class.title}}</h5>
          <p class="card-text">{{class.grade}} Grade</p>
          <p class="card-text">Capacity: {{class.capacity}} students</p>
          <p class="card-text">Description: {{class.description}}</p>
        </div>
      </div>
      <h6>Choose</h6>
      <form (submit)="onSubmit()">
        <select [(ngModel)]="applyStudent" name="applyStudent">
          <option *ngFor="let student of students" value="{{student._id}}">{{student.f_name}} {{student.l_name}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" id="submitBtn">Waitlist</button>
      </form>
</div>