<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container-fluid">
      <h1 id="classList">Currently Available Classes</h1>
      <h3 *ngIf="logcheck == false">You are not logged in. You must login to add students</h3>
      <div *ngFor="let class of allClass" class="col-sm-6 mt-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{class.title}}</h5>
            <p class="card-text">{{class.grade}} Grade</p>
            <p class="card-text">Capacity: {{class.capacity}} students</p>
            <p class="card-text">Description: {{class.description}}</p>
            <a [routerLink]="['/class', class._id]" class="btn btn-primary">Go to Class</a>
          </div>
        </div>
      </div> 
    </div>    
</body>
</html>