<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar navbar-light" id="navbar">
        <div class="d-flex flex-grow-1">
            <!-- <span class="w-100 d-lg-none d-block">hidden spacer to center brand on mobile</span> -->
            <img class="navbar-brand" id="logo" src="assets/img/le_logo_circle.png" alt="">
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item ml-4">
                    <a class="nav-link" id="link" [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link " id="link" [routerLink]="['/schedule']">Calendar</a>
                </li>
                <li class="nav-item ml-4">  
                    <a class="nav-link" id="link" [routerLink]="['/aboutus']">About Us</a>
                </li>
                <li class="nav-item ml-4">  
                    <a class="nav-link" id="link" [routerLink]="['/contactus']">Contact</a>
                </li>
                <li class="nav-item ml-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle btn-primary-outline border border-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Classes
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['/elementaryclasses']">Elementary</a>
                            <a class="dropdown-item" [routerLink]="['/middleschoolclasses']">Middle School</a>
                            <a class="dropdown-item" [routerLink]="['/highschoolclasses']">High School</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
    <div class="container">
        <hr>
        <footer class="footer">
            <div id="footer">
                <div class="row">
                    <div class="col-9">
                        <div id="footerAddress">
                            <span class="footerAddress-row">1315 Fair Oaks Blvd #101</span>
                            <span class="footerAddress-row">South Pasadena, CA  91030</span>
                            <span class="footerAddress-row">(626)799-2654</span>
                            <span class="footerAddress-row">learningedgecenter@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div id="footerNav">
                            <ul>
                                <li>
                                    <a [routerLink]="['']">Home</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/schedule']">Schedule</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/aboutus']">About</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/contactus']">Contact</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/login']">Admin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>