#contact{
    text-emphasis: bold;
    color: white;
    padding-left: 15rem;
}
#link{
    color: white;
    float: right;
}
#topjumbo{
    background-color: rgb(254,191,88)
}
.btn-primary-outline{
    background-color: transparent;
    outline:none;
}
#footer{
    padding: 5px;
    background-color: #0570C0;
}
#footer-text{
    color: white;
    display: inline-block;
}
#navbar{
    background-color: #0570C0;
}
#dropdownMenuButton{
    outline-color: #0570C0;
    background-color: #0570C0;
}
#logo{
    height: 50px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footerAddress{
    display: inline-block;
    text-align: left;
    padding: 5px;
    color: white;
}
#footerNav{
    text-align: right;
}
.footerAddress-row{
    color: white;
    display: block;
}
ul > li >a{
    color: white;
}
#footerAddressLink{
    outline: none;
}