<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container-fluid">
      <h3>We need some basic information</h3>
      <form (submit)="onSubmit()">
      <div class='row'>
        <div class='col'>
          <div class="form-group">
            <label for="f_name">First Name</label>
            <input [(ngModel)]="user.f_name" name="user.f_name" type="text" class="form-control" id="f_name" aria-describedby="f_name" placeholder="John">
            <small *ngIf="errorMessages['f_name']['message'] == 'error' " id="f_name" class="form-text text-danger">Invalid First Name</small>
          </div>
        </div>
        <div class='col'>
          <div class="form-group">
            <label for="l_name">Last Name</label>
            <input [(ngModel)]="user.l_name" name="user.l_name" type="text" class="form-control" id="l_name" aria-describedby="l_name" placeholder="Doe">
            <small *ngIf="errorMessages['l_name']['message'] == 'error' " id="f_name" class="form-text text-danger">Invalid Last Name</small>            
          </div>
        </div>
      </div>


        <div class="form-group">
          <label for="street_address">Address</label>
          <input [(ngModel)]="user.street_address" name="user.street_address" type="text" class="form-control" id="street_address" aria-describedby="street_address" placeholder="1315 Fair Oaks Ave.">
          <small *ngIf="errorMessages['street_address']['message'] == 'error' " id="street_address" class="form-text text-danger">Invalid Street Address</small>          
        </div>


      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city">City</label>
            <input [(ngModel)]="user.city" name="user.city" type="text" class="form-control" id="city" placeholder="South Pasadena">
            <small *ngIf="errorMessages['city']['message'] == 'error' " id="city" class="form-text text-danger">Invalid City</small>          
          </div>
          <div class="form-group col-md-2">
              <label for="zip">Zip</label>
              <input [(ngModel)]="user.zip" name="user.zip" type="text" class="form-control" id="zip" placeholder="91030">
              <small *ngIf="errorMessages['zip']['message'] == 'error' " id="zip" class="form-text text-danger">Invalid Zip Code</small>
            </div>
          <div class="form-group col-md-4">
            <label for="phone">Cell Phone</label>
            <input [(ngModel)]="user.phone" name="user.phone" type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="626-799-2654">
            <small *ngIf="errorMessages['phone']['message'] == 'error' " id="phone" class="form-text text-danger">Invalid Phone Number</small>            
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitBtn">Submit</button>
      </form>
    </div>    
</body>
</html>